.feed {
    width: 1000px;
    margin: 0 auto;
}

.feed-main {
    flex: 0.6;
    padding: 16px;
}
.feed-input-container {
    padding: 12px;
    margin-bottom: 16px;
}

.feed-input {
    padding: 12px;
    color: gray;
}

.feed-input>form {
    width: 100%;
}

.feed-input>form>input {
    border: none;
    flex: 1;
    margin-left: 12px;
    font-weight: 600;
    outline-width: 0;

}

.feed-input>form>button {
    display: none;
}

.right-section {
    flex: 0.2;
    padding: 16px;
    margin-top: 16px;
    height: fit-content;
}

.right-section h3 {
    font-size: 18px;
    margin-bottom: 16px;
}