.feed {
    padding: 32px;
    width: 100%;
}

.feed-input-container {
    flex: 0.6;
    padding: 12px;
    margin-bottom: 16px;
}

.feed-input {
    padding: 12px;
    color: gray;
}

.feed-input>form {
    width: 100%;
}

.feed-input>form>input {
    border: none;
    flex: 1;
    margin-left: 12px;
    font-weight: 600;
    outline-width: 0;

}

.feed-input>form>button {
    display: none;
}

