.primary-text {
    color: #2F3E46;
}

.dark-text {
    color: #212529;
}

.light-text {
    color: #495057;
}

.off-white-text {
    color: #DEE2E6;
}
.off-white-bg {
    background-color: #DEE2E6;
}

.light-gray-bg {
    background-color: #e6e6e6;

}

.white-bg {
    background-color: white;
}

.white-text {
    color: #FFFFFF;
}
.place-holder-text{
    color: #ADB5BD;
}

.onclick-nav-bg{
    background-color: #ADB5BD;

}
.off-white-text {
    color: #f8f9fa;
}
.light-bg{
    background-color: #495057;

}
.primary-bg {
    background-color: #2F3E46;
}

.secondary-bg {
    background-color: #CAD2C5;
}

.off-white-bg {
    background-color: #F4F6F3;
}

.green-bg {
    background-color: #354F52;
}

.off-white-bg-trsp {
    background-color: rgba(244, 246, 243, 0.5);
}

/* Hover Color: #202B32 Link Hover: #849f98 */