header {
    position: sticky;
    top: 0;
    border-bottom: 0.1px solid lightgray;
    padding: 8px 0;
    width: 100%;
    z-index: 999;
}

.navbar {
    width: 1000px;
}

.header-left img {
    object-fit: contain;
    height: 36px;
    margin-right: 12px;
    cursor: pointer;
}

.header-search {
    height: 36px;
    padding-left: 8px;
    background-color: #eef3f8;
}

.header-search > input {
    outline: none;
    border: none;
    background: none;
    margin-bottom: 0!important;
}

.sign-out-btn {
    background-color: #0a66c2;
    color: white;
    padding: 4px 16px;
    border-radius: 25px;
    cursor: pointer;
}

.sign-out-btn:hover {
    background-color: #004182;
}

