.inputOption {
    margin-top: 12px;
    padding: 12px;
    color: gray;
    cursor: pointer;
}

.inputOption:hover {
    background-color: whitesmoke;
    border-radius: 8px;
}

.inputOption > h4 {
    font-weight: 400;
    margin-left: 8px;
}